<div class="row justify-content-md-center">
    <div class="col-md-6">
        <hr>
        <p class="text-center">All rights reserved © 2021 - <a href="https://www.facebook.com/jamalM99/">iRedux</a>. Made with ❤️</p>
        
    </div>
</div> <!-- end of row -->
</div> <!-- end of container -->

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>